@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@



@{
}
<html>
<head></head>
<body>
    <form action="/Binder/Index" method="post">
        <input type="text" name="ograd" />
        <input type="text" name="ogrsoyad" />
        <input type="text" name="ogryas" />
        <input type="submit" value="gönder" name="Submit" />
    </form>
</body>

</html>